# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - secrets/status
  verbs:
  - get
- apiGroups:
  - auth.consul.hashicorp.com
  resources:
  - trafficpermissions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - auth.consul.hashicorp.com
  resources:
  - trafficpermissions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - controlplanerequestlimits
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - controlplanerequestlimits/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - exportedservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - exportedservices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - ingressgateways
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - ingressgateways/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - jwtproviders
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - jwtproviders/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - mesh
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - mesh/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - peeringacceptors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - peeringacceptors/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - peeringdialers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - peeringdialers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - proxydefaults
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - proxydefaults/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - registration
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - registration/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - samenessgroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - samenessgroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - servicedefaults
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - servicedefaults/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - serviceintentions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - serviceintentions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - serviceresolvers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - serviceresolvers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - servicerouters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - servicerouters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - servicesplitters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - servicesplitters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - consul.hashicorp.com
  resources:
  - terminatinggateways
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - terminatinggateways/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - gatewayclass
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - gatewayclass/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - gatewayclassconfig
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - gatewayclassconfig/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - grpcroute
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - grpcroute/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - httproute
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - httproute/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - meshconfiguration
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - meshconfiguration/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - meshgateway
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - meshgateway/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - proxyconfiguration
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - proxyconfiguration/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - tcproute
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mesh.consul.hashicorp.com
  resources:
  - tcproute/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - multicluster.consul.hashicorp.com
  resources:
  - exportedservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - multicluster.consul.hashicorp.com
  resources:
  - exportedservices/status
  verbs:
  - get
  - patch
  - update
