apiVersion: v2
name: consul
version: 0.37.0
appVersion: 1.10.4
kubeVersion: ">=1.17.0-0"
description: Official HashiCorp Consul Chart
home: https://www.consul.io
icon: https://raw.githubusercontent.com/hashicorp/consul-k8s/main/assets/icon.png
sources:
  - https://github.com/hashicorp/consul
  - https://github.com/hashicorp/consul-k8s
annotations:
  artifacthub.io/prerelease: false
  artifacthub.io/images: |
    - name: consul
      image: hashicorp/consul:1.10.4
    - name: consul-k8s-control-plane
      image: hashicorp/consul-k8s-control-plane:0.37.0
    - name: envoy
      image: envoyproxy/envoy-alpine:v1.18.4
  artifacthub.io/license: MPL-2.0
  artifacthub.io/links: |
    - name: Documentation
      url: https://www.consul.io/docs/k8s
    - name: hashicorp/consul
      url: https://github.com/hashicorp/consul
    - name: hashicorp/consul-k8s
      url: https://github.com/hashicorp/consul-k8s
  artifacthub.io/signKey: |
    fingerprint: C874011F0AB405110D02105534365D9472D7468F
    url: https://keybase.io/hashicorp/pgp_keys.asc
