{{- if or (and (ne (.Values.connectInject.enabled | toString) "-") .Values.connectInject.enabled) (and (eq (.Values.connectInject.enabled | toString) "-") .Values.global.enabled) }}
# The ClusterRole to enable the Connect injector to get, list, watch and patch MutatingWebhookConfiguration.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "consul.fullname" . }}-connect-injector
  labels:
    app: {{ template "consul.name" . }}
    chart: {{ template "consul.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    component: connect-injector
rules:
{{- if .Values.global.acls.manageSystemACLs }}
- apiGroups: [ "" ]
  resources:
  - serviceaccounts
  verbs:
  - get
{{- end }}
- apiGroups: [ "" ]
  resources: [ "pods", "endpoints", "services", "namespaces" ]
  verbs:
  - "get"
  - "list"
  - "watch"
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - update
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
  - patch
{{- if .Values.global.enablePodSecurityPolicies }}
- apiGroups: [ "policy" ]
  resources: [ "podsecuritypolicies" ]
  resourceNames:
  - {{ template "consul.fullname" . }}-connect-injector
  verbs:
  - use
{{- end }}
{{- end }}
