{{- if or (and (ne (.Values.connectInject.enabled | toString) "-") .Values.connectInject.enabled) (and (eq (.Values.connectInject.enabled | toString) "-") .Values.global.enabled) }}
# The ClusterRole to enable the Connect injector to get, list, watch and patch MutatingWebhookConfiguration.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "consul.fullname" . }}-connect-injector
  labels:
    app: {{ template "consul.name" . }}
    chart: {{ template "consul.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    component: connect-injector
rules:
- apiGroups:
  - consul.hashicorp.com
  resources:
  - servicedefaults
  - serviceresolvers
  - proxydefaults
  - meshes
  - exportedservices
  - servicerouters
  - servicesplitters
  - serviceintentions
  - ingressgateways
  - terminatinggateways
  - gatewayclassconfigs
  - meshservices
  - samenessgroups
  - controlplanerequestlimits
  - routeretryfilters
  - routetimeoutfilters
  - routeauthfilters
  - gatewaypolicies
  - registrations
  {{- if .Values.global.peering.enabled }}
  - peeringacceptors
  - peeringdialers
  {{- end }}
  - jwtproviders
  - routeauthfilters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - consul.hashicorp.com
  resources:
  - servicedefaults/status
  - serviceresolvers/status
  - proxydefaults/status
  - meshes/status
  - exportedservices/status
  - servicerouters/status
  - servicesplitters/status
  - serviceintentions/status
  - ingressgateways/status
  - terminatinggateways/status
  - samenessgroups/status
  - controlplanerequestlimits/status
  - registrations/status
  {{- if .Values.global.peering.enabled }}
  - peeringacceptors/status
  - peeringdialers/status
  {{- end }}
  - jwtproviders/status
  - routeauthfilters/status
  - gatewaypolicies/status
  verbs:
  - get
  - patch
  - update
{{- if (mustHas "resource-apis" .Values.global.experiments) }}
- apiGroups:
    - auth.consul.hashicorp.com
  resources:
    - trafficpermissions
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - auth.consul.hashicorp.com
  resources:
    - trafficpermissions/status
  verbs:
    - get
    - patch
    - update
- apiGroups:
    - mesh.consul.hashicorp.com
  resources:
    - gatewayclassconfigs
    - gatewayclasses
    - meshconfigurations
    - grpcroutes
    - httproutes
    - meshgateways
    - apigateways
    - tcproutes
    - proxyconfigurations
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - mesh.consul.hashicorp.com
  resources:
    - gatewayclassconfigs/status
    - gatewayclasses/status
    - meshconfigurations/status
    - grpcroutes/status
    - httproutes/status
    - meshgateways/status
    - apigateways/status
    - tcproutes/status
    - proxyconfigurations/status
  verbs:
    - get
    - patch
    - update
- apiGroups:
    - multicluster.consul.hashicorp.com
  resources:
    - exportedservices
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
    - multicluster.consul.hashicorp.com
  resources:
    - exportedservices/status
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
{{- end }}
- apiGroups: [""]
  resources: ["secrets", "serviceaccounts", "services"]
  verbs:
    - get
    - list
    - watch
    - delete
    - create
    - update
- apiGroups: [ "" ]
  resources: ["endpoints", "namespaces", "nodes"]
  verbs:
  - get
  - list
  - watch
- apiGroups: [ "rbac.authorization.k8s.io" ]
  resources: [ "roles", "rolebindings" ]
  verbs:
  - get
  - list
  - watch
  - delete
  - create
  - update
- apiGroups: [ "" ]
  resources:
  - pods
  verbs:
  - "get"
  - "list"
  - "watch"
  - "update"
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - update
{{- if (and .Values.global.secretsBackend.vault.enabled .Values.global.secretsBackend.vault.connectInjectRole .Values.global.secretsBackend.vault.connectInject.tlsCert.secretName  .Values.global.secretsBackend.vault.connectInject.caCert.secretName)}}
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
  - patch
{{- end }}
{{- if .Values.global.peering.enabled }}
- apiGroups: [ "" ]
  resources: [ "secrets" ]
  verbs:
  - "get"
  - "list"
  - "watch"
  - "create"
  - "update"
  - "delete"
{{- end }}
- apiGroups: [ "policy" ]
  resources: [ "podsecuritypolicies" ]
  verbs:
  - use
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - gatewayclasses
  - gateways
  - httproutes
  - tcproutes
  - referencegrants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - gatewayclasses/finalizers
  - gateways/finalizers
  - httproutes/finalizers
  - tcproutes/finalizers
  verbs:
  - update
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - gatewayclasses/status
  - gateways/status
  - httproutes/status
  - tcproutes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
    - apps
  resources:
    - deployments
  verbs:
    - create
    - get
    - list
    - update
    - watch
    - delete
- apiGroups:
    - core
  resources:
    - services
  verbs:
    - watch
    - list
- apiGroups: [ "" ]
  resources: [ "secrets" ]
  verbs:
    - "get"
    - "list"
    - "watch"
{{- if .Values.global.openshift.enabled }}
- apiGroups:
    - security.openshift.io
  resources:
    - securitycontextconstraints
  resourceNames:
    - {{ .Values.connectInject.apiGateway.managedGatewayClass.openshiftSCCName }}
  verbs:
    - use
  {{- end }}
{{- end }}
