{{- if .Values.connectInject.enabled }}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: meshes.consul.hashicorp.com
  labels:
    app: {{ template "consul.name" . }}
    chart: {{ template "consul.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    component: crd
spec:
  group: consul.hashicorp.com
  names:
    kind: Mesh
    listKind: MeshList
    plural: meshes
    singular: mesh
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The sync status of the resource with Consul
      jsonPath: .status.conditions[?(@.type=="Synced")].status
      name: Synced
      type: string
    - description: The last successful synced time of the resource with Consul
      jsonPath: .status.lastSyncedTime
      name: Last Synced
      type: date
    - description: The age of the resource
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Mesh is the Schema for the mesh API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MeshSpec defines the desired state of Mesh.
            properties:
              http:
                description: HTTP defines the HTTP configuration for the service mesh.
                properties:
                  incoming:
                    description: Incoming configures settings for incoming HTTP traffic
                      to mesh proxies.
                    properties:
                      requestNormalization:
                        description: |-
                          RequestNormalizationMeshConfig contains options pertaining to the
                          normalization of HTTP requests processed by mesh proxies.
                        properties:
                          headersWithUnderscoresAction:
                            description: |-
                              HeadersWithUnderscoresAction sets the value of the \`headers_with_underscores_action\` option in the Envoy
                              listener's \`HttpConnectionManager\` under \`common_http_protocol_options\`. The default value of this option is
                              empty, which is equivalent to \`ALLOW\`. Refer to the Envoy documentation for more information on available
                              options.
                            type: string
                          insecureDisablePathNormalization:
                            description: |-
                              InsecureDisablePathNormalization sets the value of the \`normalize_path\` option in the Envoy listener's
                              `HttpConnectionManager`. The default value is \`false\`. When set to \`true\` in Consul, \`normalize_path\` is
                              set to \`false\` for the Envoy proxy. This parameter disables the normalization of request URL paths according to
                              RFC 3986, conversion of \`\\\` to \`/\`, and decoding non-reserved %-encoded characters. When using L7 intentions
                              with path match rules, we recommend enabling path normalization in order to avoid match rule circumvention with
                              non-normalized path values.
                            type: boolean
                          mergeSlashes:
                            description: |-
                              MergeSlashes sets the value of the \`merge_slashes\` option in the Envoy listener's \`HttpConnectionManager\`.
                              The default value is \`false\`. This option controls the normalization of request URL paths by merging
                              consecutive \`/\` characters. This normalization is not part of RFC 3986. When using L7 intentions with path
                              match rules, we recommend enabling this setting to avoid match rule circumvention through non-normalized path
                              values, unless legitimate service traffic depends on allowing for repeat \`/\` characters, or upstream services
                              are configured to differentiate between single and multiple slashes.
                            type: boolean
                          pathWithEscapedSlashesAction:
                            description: |-
                              PathWithEscapedSlashesAction sets the value of the \`path_with_escaped_slashes_action\` option in the Envoy
                              listener's \`HttpConnectionManager\`. The default value of this option is empty, which is equivalent to
                              \`IMPLEMENTATION_SPECIFIC_DEFAULT\`. This parameter controls the action taken in response to request URL paths
                              with escaped slashes in the path. When using L7 intentions with path match rules, we recommend enabling this
                              setting to avoid match rule circumvention through non-normalized path values, unless legitimate service traffic
                              depends on allowing for escaped \`/\` or \`\\\` characters, or upstream services are configured to differentiate
                              between escaped and unescaped slashes. Refer to the Envoy documentation for more information on available
                              options.
                            type: string
                        type: object
                    type: object
                  sanitizeXForwardedClientCert:
                    type: boolean
                type: object
              peering:
                description: Peering defines the peering configuration for the service
                  mesh.
                properties:
                  peerThroughMeshGateways:
                    description: |-
                      PeerThroughMeshGateways determines whether peering traffic between
                      control planes should flow through mesh gateways. If enabled,
                      Consul servers will advertise mesh gateway addresses as their own.
                      Additionally, mesh gateways will configure themselves to expose
                      the local servers using a peering-specific SNI.
                    type: boolean
                type: object
              tls:
                description: TLS defines the TLS configuration for the service mesh.
                properties:
                  incoming:
                    description: |-
                      Incoming defines the TLS configuration for inbound mTLS connections targeting
                      the public listener on Connect and TerminatingGateway proxy kinds.
                    properties:
                      cipherSuites:
                        description: |-
                          CipherSuites sets the default list of TLS cipher suites to support when negotiating connections using TLS 1.2 or earlier.
                          If unspecified, Envoy will use a default server cipher list. The list of supported cipher suites can be seen in
                          https://github.com/hashicorp/consul/blob/v1.11.2/types/tls.go#L154-L169 and is dependent on underlying support in Envoy.
                          Future releases of Envoy may remove currently-supported but insecure cipher suites,
                          and future releases of Consul may add new supported cipher suites if any are added to Envoy.
                        items:
                          type: string
                        type: array
                      tlsMaxVersion:
                        description: |-
                          TLSMaxVersion sets the default maximum TLS version supported. Must be greater than or equal to `TLSMinVersion`.
                          One of `TLS_AUTO`, `TLSv1_0`, `TLSv1_1`, `TLSv1_2`, or `TLSv1_3`.
                          If unspecified, Envoy will default to TLS 1.3 as a max version for incoming connections.
                        type: string
                      tlsMinVersion:
                        description: |-
                          TLSMinVersion sets the default minimum TLS version supported.
                          One of `TLS_AUTO`, `TLSv1_0`, `TLSv1_1`, `TLSv1_2`, or `TLSv1_3`.
                          If unspecified, Envoy v1.22.0 and newer will default to TLS 1.2 as a min version,
                          while older releases of Envoy default to TLS 1.0.
                        type: string
                    type: object
                  outgoing:
                    description: |-
                      Outgoing defines the TLS configuration for outbound mTLS connections dialing upstreams
                      from Connect and IngressGateway proxy kinds.
                    properties:
                      cipherSuites:
                        description: |-
                          CipherSuites sets the default list of TLS cipher suites to support when negotiating connections using TLS 1.2 or earlier.
                          If unspecified, Envoy will use a default server cipher list. The list of supported cipher suites can be seen in
                          https://github.com/hashicorp/consul/blob/v1.11.2/types/tls.go#L154-L169 and is dependent on underlying support in Envoy.
                          Future releases of Envoy may remove currently-supported but insecure cipher suites,
                          and future releases of Consul may add new supported cipher suites if any are added to Envoy.
                        items:
                          type: string
                        type: array
                      tlsMaxVersion:
                        description: |-
                          TLSMaxVersion sets the default maximum TLS version supported. Must be greater than or equal to `TLSMinVersion`.
                          One of `TLS_AUTO`, `TLSv1_0`, `TLSv1_1`, `TLSv1_2`, or `TLSv1_3`.
                          If unspecified, Envoy will default to TLS 1.3 as a max version for incoming connections.
                        type: string
                      tlsMinVersion:
                        description: |-
                          TLSMinVersion sets the default minimum TLS version supported.
                          One of `TLS_AUTO`, `TLSv1_0`, `TLSv1_1`, `TLSv1_2`, or `TLSv1_3`.
                          If unspecified, Envoy v1.22.0 and newer will default to TLS 1.2 as a min version,
                          while older releases of Envoy default to TLS 1.0.
                        type: string
                    type: object
                type: object
              transparentProxy:
                description: TransparentProxy controls the configuration specific
                  to proxies in "transparent" mode. Added in v1.10.0.
                properties:
                  meshDestinationsOnly:
                    description: |-
                      MeshDestinationsOnly determines whether sidecar proxies operating in "transparent" mode can proxy traffic
                      to IP addresses not registered in Consul's catalog. If enabled, traffic will only be proxied to upstreams
                      with service registrations in the catalog.
                    type: boolean
                type: object
              validateClusters:
                description: |-
                  ValidateClusters controls whether the clusters the route table refers to are validated. The default value is
                  false. When set to false and a route refers to a cluster that does not exist, the route table loads and routing
                  to a non-existent cluster results in a 404. When set to true and the route is set to a cluster that do not exist,
                  the route table will not load. For more information, refer to
                  [HTTP route configuration in the Envoy docs](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route.proto#envoy-v3-api-field-config-route-v3-routeconfiguration-validate-clusters)
                  for more details.
                type: boolean
            type: object
          status:
            properties:
              conditions:
                description: Conditions indicate the latest available observations
                  of a resource's current state.
                items:
                  description: |-
                    Conditions define a readiness condition for a Consul resource.
                    See: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time the condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              lastSyncedTime:
                description: LastSyncedTime is the last time the resource successfully
                  synced with Consul.
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
{{- end }}
