{{- if .Values.connectInject.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ template "consul.fullname" . }}-gatewayapi-pvc
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "consul.name" . }}
    chart: {{ template "consul.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    component: generate-manifests
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
{{- end }}
