{{- if .Values.connectInject.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "consul.fullname" . }}-pvc-cleaner-role
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "consul.name" . }}
    chart: {{ template "consul.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    component: generate-manifests-pvc-cleaner
  annotations:
    "helm.sh/hook": post-upgrade,post-install
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": hook-succeeded,before-hook-creation
rules:
- apiGroups: [""]
  resources: ["persistentvolumeclaims"]
  verbs: ["get", "delete", "list", "watch"]
- apiGroups:
    - gateway.networking.k8s.io
  resources:
    - gatewayclasses
    - gateways
    - httproutes
    - tcproutes
    - tlsroutes
    - referencegrants
    - grpcroutes
    - udproutes
  verbs:
    - get
    - create
    - update
    - patch
{{ end }}