kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  ipFamily: "ipv4"
  # Calicos default subnet. Needed for Calico to run on kind
  podSubnet: 192.168.0.0/16
  serviceSubnet: 10.110.0.0/16
  # The default kind.net CNI plugin will not be installed
  disableDefaultCNI: true 
nodes:
- role: control-plane
