# dc3 cluster – pod subnet 192.170.0.0/16 (non-overlapping with dc1/dc2)
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  ipFamily: "ipv4"
  podSubnet: 192.170.0.0/16
  serviceSubnet: 10.112.0.0/16
  # The default kind.net CNI plugin will not be installed
  disableDefaultCNI: true
nodes:
- role: control-plane
