# dc4 cluster – pod subnet 192.171.0.0/16 (non-overlapping with dc1/dc2/dc3)
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  ipFamily: "ipv4"
  podSubnet: 192.171.0.0/16
  serviceSubnet: 10.113.0.0/16
  # The default kind.net CNI plugin will not be installed
  disableDefaultCNI: true
nodes:
- role: control-plane
