# Dispatch to the consul-k8s-workflows when a PR is created and on merges to main/release*
name: lint
on:
  pull_request:

jobs:
    get-go-version:
      uses: ./.github/workflows/reusable-get-go-version.yml

    linting:
      name: golangci-lint
      needs:
        - get-go-version
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

        - name: Setup go
          uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
          with:
            go-version: ${{ needs.get-go-version.outputs.go-version }}
            cache: false

        - name: Setup GOROOT  # Need to set GOROOT because an older version of go-critic used GOROOT to find rules
          run: echo "GOROOT=$(go env GOROOT)" >> "${GITHUB_ENV}"

        - name: golangci-lint-helm-gen
          uses: golangci/golangci-lint-action@38e1018663fa5173f3968ea0777460d3de38f256 # v5.3.0
          with:
            version: "v1.62.0"
            working-directory: hack/helm-reference-gen
            skip-cache: true  # We have seen sticky timeout bugs crop up with caching enabled, so disabling for now
            args: "--no-config --disable-all --enable gofmt,govet"

        - name: golangci-lint-control-plane
          uses: golangci/golangci-lint-action@38e1018663fa5173f3968ea0777460d3de38f256 # v5.3.0
          with:
            version: "v1.62.0"
            working-directory: control-plane
            skip-cache: true  # We have seen sticky timeout bugs crop up with caching enabled, so disabling for now
            args: --verbose --print-issued-lines --print-linter-name --out-format=colored-line-number

        - name: golangci-lint-acceptance
          uses: golangci/golangci-lint-action@38e1018663fa5173f3968ea0777460d3de38f256 # v5.3.0
          with:
            version: "v1.62.0"
            working-directory: acceptance
            skip-cache: true  # We have seen sticky timeout bugs crop up with caching enabled, so disabling for now

        - name: golangci-lint-cli
          uses: golangci/golangci-lint-action@38e1018663fa5173f3968ea0777460d3de38f256 # v5.3.0
          with:
            version: "v1.62.0"
            working-directory: acceptance
            skip-cache: true  # We have seen sticky timeout bugs crop up with caching enabled, so disabling for now