# Dispatch to the consul-k8s-workflows when a PR is created and on merges to main/release*
name: merge
on:
  pull_request:

    types: [opened, synchronize, labeled]
    # Runs on PRs to main and all release branches
    branches:
      - main
      - release/**
      - pajay.rao/test-branch
      - pajay.rao./**
      - pajay.rao/test-branch


# these should be the only settings that you will ever need to change
env:
  BRANCH: ${{ github.head_ref || github.ref_name }}
  CONTEXT: "merge"
  SHA: ${{ github.event.pull_request.head.sha || github.sha }}

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
    - uses: benc-uk/workflow-dispatch@25b02cc069be46d637e8fe2f1e8484008e9e9609 # v1.2.3
      name: test
      with:
        workflow: test.yml
        repo: hashicorp/consul-k8s-workflows
        ref: main
        token: ${{ secrets.ELEVATED_GITHUB_TOKEN }}
        inputs: '{ "context":"${{ env.CONTEXT }}", "actor":"${{ github.actor }}", "repository":"${{ github.repository }}", "branch":"${{ env.BRANCH }}", "sha":"${{ env.SHA }}", "token":"${{ secrets.ELEVATED_GITHUB_TOKEN }}" }'
