# Dispatch to the consul-k8s-workflows with a nightly cron
name: nightly-cleanup
on:
  # schedule:
  #   # * is a special character in YAML so you have to quote this string
  #   # Run nightly at 12PM UTC/8AM EST/5AM PST
  #   - cron: '0 12 * * *'
  
  # # TODO: disable pull_request trigger after testing
  pull_request:
    types: [opened, synchronize]
    branches:
      - main
      - "release/**"

# these should be the only settings that you will ever need to change
env:
  BRANCH: ${{ github.ref_name }}
  CONTEXT: "nightly"

jobs:
  cleanup:
    name: cleanup
    runs-on: ubuntu-latest
    steps:
    - uses: benc-uk/workflow-dispatch@25b02cc069be46d637e8fe2f1e8484008e9e9609 # v1.2.3
      name: cleanup
      with:
        workflow: cleanup.yml
        repo: hashicorp/consul-k8s-workflows
        # ref: main
        # TODO: change ref to main after testing
        ref: abhishek/fix-peering-test-for-eks
        token: ${{ secrets.ELEVATED_GITHUB_TOKEN }}
        inputs: '{ "context":"${{ env.CONTEXT }}", "repository":"${{ github.repository }}", "branch":"${{ env.BRANCH }}", "sha":"${{ github.sha }}", "token":"${{ secrets.ELEVATED_GITHUB_TOKEN }}" }'
