# Dispatch to the consul-k8s-workflows with a nightly cron
name: nightly-api-gateway-conformance
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run nightly at 12AM UTC/8PM EST/5PM PST.
    - cron:  '0 0 * * *'


# these should be the only settings that you will ever need to change
env:
  CONSUL_IMAGE: hashicorppreview/consul-enterprise:1.16-dev # Consul's enterprise version to use in tests
  BRANCH: ${{ github.ref_name }}
  CONTEXT: "nightly"

jobs:
  api-gateway-conformance:
    name: api-gateway-conformance
    runs-on: ubuntu-latest
    steps:
      - uses: benc-uk/workflow-dispatch@798e70c97009500150087d30d9f11c5444830385 # v1.2.2
        name: conformance
        with:
          workflow: api-gateway-conformance.yml
          repo: hashicorp/consul-k8s-workflows
          ref: main
          token: ${{ secrets.ELEVATED_GITHUB_TOKEN }}
          inputs: '{ "context":"${{ env.CONTEXT }}", "repository":"${{ github.repository }}", "branch":"${{ env.BRANCH }}", "sha":"${{ github.sha }}", "token":"${{ secrets.ELEVATED_GITHUB_TOKEN }}" }'
