# Dispatch to the consul-k8s-workflows with a nightly cron
name: pr-cloud-acceptance
on:
  pull_request:
    types: [opened, synchronize]
    # Runs on PRs to main and all release branches
    branches:
      - main
      - "release/**"
# these should be the only settings that you will ever need to change
env:
  BRANCH: ${{ github.event.pull_request.head.ref }}
  CONTEXT: "pr"

jobs:

  # # TODO: delete the cleanup-dummy job and uncomment cloud-acceptance job after cleanup
  # cleanup-dummy:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - run: echo "Cleanup in progress. This is a dummy job to disable cloud acceptance tests during eks cleanup. It runs successfully and does nothing."

  cloud-acceptance:
    name: cloud-acceptance
    runs-on: ubuntu-24.04
    steps:
      - uses: benc-uk/workflow-dispatch@25b02cc069be46d637e8fe2f1e8484008e9e9609 # v1.2.3
        name: cloud
        with:
          workflow: cloud.yml
          repo: hashicorp/consul-k8s-workflows
          # ref: main
          # TODO: change ref to main after testing
          ref: abhishek/fix-peering-test-for-eks
          token: ${{ secrets.ELEVATED_GITHUB_TOKEN }}
          inputs: '{ "context":"${{ env.CONTEXT }}-${{ github.event.pull_request.number }}", "repository":"${{ github.repository }}", "branch":"${{ env.BRANCH }}", "sha":"${{ github.sha }}", "token":"${{ secrets.ELEVATED_GITHUB_TOKEN }}" }'
