# Dispatch to the consul-k8s-workflows when a PR is created and on merges to main/release*
name: pr
on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main
      - "release/**"

# these should be the only settings that you will ever need to change
env:
  BRANCH: ${{ github.head_ref || github.ref_name }}
  CONTEXT: "pr"
  SHA: ${{ github.event.pull_request.head.sha || github.sha }}

jobs:
  conditional-skip:
    uses: ./.github/workflows/reusable-conditional-skip.yml

  test:
    name: test
    needs: [ conditional-skip ]
    if: needs.conditional-skip.outputs.skip-ci != 'true'
    runs-on: ubuntu-latest
    steps:
    - uses: benc-uk/workflow-dispatch@25b02cc069be46d637e8fe2f1e8484008e9e9609 # v1.2.3
      name: test
      with:
        workflow: test.yml
        repo: hashicorp/consul-k8s-workflows
        ref: manisha/vault_cloud_flow
        token: ${{ secrets.ELEVATED_GITHUB_TOKEN }}
        inputs: '{ "context":"${{ env.CONTEXT }}-${{ github.event.pull_request.number }}", "actor":"${{ github.actor }}", "repository":"${{ github.repository }}", "branch":"${{ env.BRANCH }}", "sha":"${{ env.SHA }}", "token":"${{ secrets.ELEVATED_GITHUB_TOKEN }}", "json_params":"{\"gotestsum-version\":\"1.12.3\", \"terraform-version\":\"latest\", \"test-ce\":true, \"test-type\":\"short\", \"dual-stack\":true}" }'

  pass-required-checks-on-skip:
    needs: [ conditional-skip ]
    if: needs.conditional-skip.outputs.skip-ci == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # The required checks that should be "passed" when the CI is skipped
          - check-name: Unit test helm templates
          - check-name: Unit test helm gen
          - check-name: Unit test enterprise control plane
          - check-name: Unit test control plane
          - check-name: Unit test cli
          - check-name: Unit test acceptance
          - check-name: acceptance
          - check-name: acceptance-cni
          - check-name: acceptance-tproxy
    steps:
    - name: Update final status
      uses: docker://ghcr.io/curtbushko/commit-status-action:e1d661c757934ab35c74210b4b70c44099ec747a
      env:
        INPUT_TOKEN: ${{ secrets.ELEVATED_GITHUB_TOKEN }}
        INPUT_REPOSITORY: ${{ github.repository }}
        INPUT_CONTEXT: ${{ matrix.check-name }}
        INPUT_STATE: success
        INPUT_DESCRIPTION: "Skipped due to conditional-skip check"
        INPUT_SHA: ${{ env.SHA }}
        INPUT_DETAILS_URL: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
        INPUT_OWNER: "hashicorp"
