name: golangci-lint

on:
  workflow_call:
    inputs:
      directory:
        required: true
        type: string
      go-version:
        required: true
        type: string
      args:
        required: false
        type: string

jobs:
  job:
    runs-on: ubuntu-latest

    steps:      
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ inputs.go-version }}
     
      - name: golangci-lint-${{inputs.directory}}
        uses: golangci/golangci-lint-action@v3.2.0
        with:
          version: v1.46.2
          working-directory: ${{inputs.directory}}
          args: ${{inputs.args}}
